body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#turing-town-logo{
    height: 36px;
}

a{
    text-decoration: none;
    color: #f9faf8;
    padding-right: 24px;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
    padding: 10px 0px 64px 0px;
}

button{
    width: 96px;
}

.site-description{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    flex: auto;
    padding-bottom: 64px;
}

.welcome-signup{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

#turing-banner{
    width: 350px;
    border: 5px solid white;
    border-radius: 10px;
}

.info-section {
    padding: 64px 0px 64px 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.information-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    align-self: center;
}

.horizontal-list{
    display: flex;
    justify-content: center;
    column-gap: 100px;
    margin-top: 64px;
}

.item{
    display: flex;
    flex-direction: column;
}

.item-text
{
    width: 100px;
    font-size: 14px;
    text-align: center;
    align-self: center;
}

.item-images{
    height: 136px;
    border: 2px solid #3882f6;
    border-radius: 25px;
}

.empty-box{
    align-self: center;
}

.inspiring-quote{
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: #e5e7eb;
    width: 100%;
    justify-content: center;
}

#quote-text{
    align-self: center;
    color:#f9faf8;
}

#quote-author{
    display: flex;
    justify-content: space-around;
}

.footer-signup-div{
    display:flex;
    justify-content: center;
    margin: 24px;
}


.footer-signup{
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    padding: 32px 64px 32px 64px;
    border-radius: 5px;
}

.footer-text{
    display: flex;
    flex-direction: column;
}

.button-div{
    align-self: center;
}


.footer{
    display: flex;
    justify-content: center;
    background-color: grey;
    margin:0px;
    padding:0px;
}