*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#turing-town-logo{
    height: 36px;
}

.links a{
    text-decoration: none;
    color: #e5e7eb;
    padding-right: 24px;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    align-items: center;
    padding: 10px 0px 96px 0px;
}

button{
    width: 96px;
    padding: 4px;
}

.welcome-signup button{
    background-color: #3882f6;
    border-radius: 6px;
    border:2px solid #3882f6;
}

.button-text{
    color:#e5e7eb;
    font-weight: bold;
}

.site-description{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    flex: auto;
    padding-bottom: 96px;
    padding-left: 96px;
    padding-right: 96px;
}

.welcome-signup{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    color:#f9faf8
}

.signup-text-heading{
    font-size: 48px;
}

.signup-text{
    max-width: 512px;
    margin-bottom: 12px;
}

#turing-banner{
    width: 350px;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
}

.info-section {
    padding: 96px 0px 96px 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.information-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    align-self: center;
}

.horizontal-list{
    display: flex;
    justify-content: center;
    column-gap: 100px;
    margin-top: 64px;
}

.item{
    display: flex;
    flex-direction: column;
}

.item-text
{
    width: 100px;
    font-size: 14px;
    text-align: center;
    align-self: center;
}

.item-images{
    height: 136px;
    border: 2px solid #3882f6;
    border-radius: 25px;
}

.empty-box{
    align-self: center;
}

.inspiring-quote{
    display: flex;
    flex: auto;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    flex: 1 1 auto;
    padding: 108px;
}

#quote-text{
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    align-self: center;
    color:#1f2937;
    max-width: 1024px;
    padding-bottom: 16px;
}

#quote-author{
    display: flex;
    justify-content: space-around;
}


.did-you-learn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    flex: 1;
    padding: 64px;
}

.learning-box{
    display: flex;
    margin: 32px;
    padding: 32px;
    background-color:#3882f6;
    flex: 1 1 auto;
    max-width: 55%;
    border-radius: 5px;
    justify-content: space-between;
}

.learning-text{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 32px;
}

.learning-box button{
    background-color: #3882f6;
    border-radius: 6px;
    border:2px solid #ffffff;
    align-self: center;
    margin-right: 32px;
}

.lb-heading{
    font-weight: bold;
    color:#e5e7eb;
    padding-bottom: 4px;
}

.lb-description{
    color:#e5e7eb;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 12px;
    background-color: #1f2937;
    color:#f9faf8;
}

/* Starting here is overlay stuff for popup windows
    Thanks to imprakash from
    https://codepen.io/imprakash/pen/GgNMXO
*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }